.about-desc {
  line-height: 1.71;
  text-align: center;
  color: var(--cl-second-txt);
  margin: 0 auto 40px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.about-list-item {
  border-radius: 16px;
  max-width: 335px;
  padding: 32px;
  background: var(--cl-bg-grey);
}

.about-title {
  /*font-weight: 700;*/
  font-size: 28px;
  margin-bottom: 16px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--cl-bg-primary);
}

.about-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--cl-primary-txt);
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  max-width: 100%;
  border-radius: 16px;
  background: var(--cl-bg-primary);
}

.about-img {
  max-width: 254px;
}

@media only screen and (min-width: 768px) {
  .about-desc {
    width: 658px;
    font-size: 18px;
    line-height: 1.67;
    margin-bottom: 64px;
  }

  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 32px;
  }

  .about-list-item {
    width: calc((100% - 32px) * 2);
  }
}

@media only screen and (min-width: 1280px) {
  .about-list {
    max-width: 682px;
    margin-bottom: 0;
  }

  .about-list-item {
    width: 325px;
  }

  .about-wrapper {
    width: 310px;
  }

  .about-list-block {
    display: flex;
    gap: 32px;
    justify-content: center;
  }
}
