.lesson-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 12px;
  background: var(--cl-bg-primary);
  color: var(--cl-white);
  font-weight: 700;
  text-align: center;
  height: 52px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    background: var(--cl-bg-accent);
  }

  @media only screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.55;
    height: 60px;
  }
}

.btn-accent {
  border: 1px solid rgba(255, 255, 255, 0.4);

  &:hover,
  :focus {
    background: var(--cl-white);
    color: var(--cl-bg-primary);
  }
}

.hero-button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  max-width: 295px;

  background-color: var(--cl-bg-primary);
  color: var(--cl-white);
  line-height: 1.7143;
  border-radius: 12px;
  transition: background-color 250ms linear;

  &:hover,
  :focus {
    background-color: var(--cl-bg-accent);
  }

  @media screen and (min-width: 375px) {
    padding: 14px 78px;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.5556;
    padding: 16px 64px;
    max-width: 306px;
  }
}

.proposal-button {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  max-width: 255px;
  background-color: var(--cl-bg-primary);
  color: var(--cl-white);
  font-weight: 700;
  border-radius: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    background-color: var(--cl-bg-accent);
  }

  @media screen and (min-width: 768px) {
    max-width: 306px;
    height: 60px;
    font-size: 18px;
    line-height: 1.56;
  }
}
