<section class="about">
  <div class="container">
    <h2 class="title">About <span class="underline">Us</span></h2>
    <p class="about-desc">We are dedicated to providing engaging and effective English language courses in a supportive
      and stimulating learning environment</p>
    <div class="about-list-block">
      <ul class="about-list">
        <li class="about-list-item">
          <h3 class="about-title">01</h3>
          <p class="about-text">Expert, innovative teaching staff</p>
        </li>
        <li class="about-list-item">
          <h3 class="about-title">02</h3>
          <p class="about-text">Wide range of course levels and options</p>
        </li>
        <li class="about-list-item">
          <h3 class="about-title">03</h3>
          <p class="about-text">Multicultural learning environment</p>
        </li>
        <li class="about-list-item">
          <h3 class="about-title">04</h3>
          <p class="about-text">Comprehensive language support services</p>
        </li>
      </ul>
      <div class="about-wrapper">
        <img
          class="about-img"
          srcset="../img/about/memoji.png 1x, ../img/about/memoji@2x.png 2x"
          src="../img/about/memoji.png"
          alt="memoji"
          width="254"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
