<header class="header">
  <div class="container">
    <div class="header-wrapper">
      <a class="logo" href="#hero">english<span>excellence</span>.</a>
      <div class="menu-wrapper">
        <nav class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a href="#about" class="menu-link">About us</a>
            </li>
            <li class="menu-item">
              <a href="#lessons" class="menu-link">Our lessons</a>
            </li>
            <li class="menu-item">
              <a href="#teachers" class="menu-link">Teachers</a>
            </li>
            <li class="menu-item">
              <a href="#reviews" class="menu-link">Reviews</a>
            </li>
            <li class="menu-item">
              <a href="#contacts" class="menu-link">Contact us</a>
            </li>
          </ul>
        </nav>
        <ul class="social-list socials">
          <li class="social-item">
            <a class="social-link" href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer" aria-label="Link to Facebook site">
          <svg class="social-icon" width="27" height="28">
            <use href="../img/icons.svg#facebook">
            </use>
          </svg>
          </a>
        </li>
        <li class="social-item">
          <a class="social-link" href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer" aria-label="Link to Instagram site">
            <svg class="social-icon" width="27" height="28">
              <use href="../img/icons.svg#instagram">
              </use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a class="social-link" href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer" aria-label="Link to YouTube site">
            <svg class="social-icon" width="27" height="28">
              <use href="../img/icons.svg#youtube">
              </use>
            </svg>
          </a>
        </li>
        </ul>
      </div>
      <button class="menu-burger-btn" id="burger" aria-label="icon menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="backdrop"></div>
    </div>
  </div>
</header>
