<section class="lesson mg-sec">
  <span class="anchor" id="lessons"></span>
  <div class="container">
    <h2 class="hd-two">Our <span class="underline">lessons</span></h2>
    <p class="lesson-desc">
      Our lessons are carefully structured and interactive, designed to promote
      rapid language acquisition through practical tasks and real-world
      scenarios
    </p>
    <div class="lesson-list-block">
      <ul class="lesson-list">
        <li class="lesson-item">
          <h3 class="lesson-caption">Practice</h3>
          <p class="lesson-price">40$ / month</p>
          <p class="lesson-item-desc">
            This plan offers an opportunity for learners to engage in
            collaborative language exercises and group activities, boosting
            their conversational skills and confidence in using English.
          </p>
          <load src="partials/button.html" name-class="lesson-btn" />
        </li>
        <li class="lesson-item plan-standard">
          <h3 class="lesson-caption standard">Standard</h3>
          <p class="lesson-price standard">70$ / month</p>
          <p class="lesson-item-desc plan-standard">
            Our standard package provides a balanced learning approach that
            covers all key areas of English language - reading, writing,
            listening, and speaking. It is a set of basic knowledge and skills.
          </p>
          <load
            src="partials/button.html"
            name-class="lesson-btn"
            extra="btn-accent"
          />
        </li>
        <li class="lesson-item">
          <h3 class="lesson-caption">Individual</h3>
          <p class="lesson-price">99$ / month</p>
          <p class="lesson-item-desc">
            We offer a tailored learning experience with individualized
            instruction that focuses on a learner’s specific language goals and
            challenges, offering personal feedback.
          </p>
          <load src="partials/button.html" name-class="lesson-btn" />
        </li>
      </ul>
    </div>
  </div>
</section>
