<section class="proposal mg-sec">
  <div class="container">
    <div class="extra-div">
      <p class="prop-p">
        Master the <span class="proposal-span">Language</span> with Our English
        Package!
      </p>
      <h2 class="visually-hidden">Proposal to leave application</h2>
      <div class="proposal-wrapper">
        <h3 class="proposal-title">Power of English</h3>
        <ul class="proposal-list">
          <li class="proposal-list-item">
            <svg class="proposal-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-check-2"></use>
            </svg>
            <p class="proposal-text">
              Dive into captivating lessons designed to stimulate your
              curiosity.
            </p>
          </li>
          <li class="proposal-list-item">
            <svg class="proposal-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-check-2"></use>
            </svg>
            <p class="proposal-text">
              Learn in a nurturing setting where every student's progress
              matters.
            </p>
          </li>
          <li class="proposal-list-item">
            <svg class="proposal-icon" width="20" height="20">
              <use href="../img/icons.svg#icon-check-2"></use>
            </svg>
            <p class="proposal-text">
              Experience the satisfaction of real progress as your language
              skills and confidence grow with every session.
            </p>
          </li>
        </ul>
        <a href="#leave-app" class="proposal-button">Leave an application</a>
        <img
          class="proposal-img"
          srcset="../img/proposal/books.png 1x, ../img/proposal/books@2x.png 2x"
          src="../img/proposal/books.png"
          alt="The pile of books"
          width="214"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
