<ul class="footer-socials">
  <li>
    <a
      href="https://www.facebook.com/goITclub/"
      class="footer-socials-link"
      target="_blank"
    >
      <svg class="footer-socials-icon" width="28" height="28">
        <use href="./img/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/goitclub/"
      class="footer-socials-link"
      target="_blank"
    >
      <svg class="footer-socials-icon" width="28" height="28">
        <use href="./img/icons.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.youtube.com/c/GoIT"
      class="footer-socials-link"
      target="_blank"
    >
      <svg class="footer-socials-icon" width="28" height="28">
        <use href="./img/icons.svg#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
