<ul class="social-list {=$location}">
  <li class="social-item">
    <a
      class="social-link"
      href="https://www.facebook.com/goITclub/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Facebook site"
    >
      <svg class="social-icon" width="27" height="28">
        <use href="../img/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      class="social-link"
      href="https://www.instagram.com/goitclub/"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to Instagram site"
    >
      <svg class="social-icon" width="27" height="28">
        <use href="../img/icons.svg#instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      class="social-link"
      href="https://www.youtube.com/c/GoIT"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Link to YouTube site"
    >
      <svg class="social-icon" width="27" height="28">
        <use href="../img/icons.svg#youtube"></use>
      </svg>
    </a>
  </li>
</ul>
